.book {
    &-checkbox {
        display: none;
    }

    &-checkbox:checked~&-container {
        transform: translate(-50%, -50%);
    }

    &-checkbox:checked~&-background {
        transform: translate(0, 0);
    }
    &-background {
        position: fixed;
        top: 0%;
        z-index: 110;
        left: 0%;
        width: 100%;
        transform: translateY(-200vw);
        transition: all 0.2s;
        backdrop-filter: blur(.3rem);
        background-color: rgba(225, 225, 225, 0.5);
        height: 100%;
    }

    &-container {
        &-container {
            position: relative;
        }

        &-header {
            margin: 0 0 3rem 0;
            font-size: 2.5rem;
        }

        &-inner {

            &-next {
                text-transform: capitalize;
                padding: 1rem;
                font-size: 2rem;
                margin: 3rem 0;
                outline: none;
                cursor: pointer;
                border: none;
                width: 10rem;
                color: white;
                border-radius: 1rem;
                background-color: #000;
                ;
            }

            &-packages {
                &-input {
                    display: none;
                }

                &-basic:checked~&-each {
                    &:nth-child(4) {

                        background-color: rgba(0, 0, 0, 0.4);
                    }
                }

                &-premium:checked~&-each {
                    &:nth-child(5) {

                        background-color: rgba(0, 0, 0, 0.4);
                    }
                }

                &-luxurious:checked~&-each {
                    &:nth-child(6) {

                        background-color: rgba(0, 0, 0, 0.4);
                    }
                }

                &-each {
                    cursor: pointer;
                    transition: all 0.2s;

                    &:last-child {
                        margin-right: 0;
                    }

                    &-para {
                        font-size: 1.5rem;
                    }

                    border-radius: 1.5rem;
                    padding: 2rem;
                }

                display: flex;
            }
        }

        position: fixed;
        top:50%;
        color:$secondary;
        left:50%;
        width: 60vw;
        border-radius: 2rem;
        padding:4rem;
        transition: all 0.6s;
        height: 36rem;
        z-index: 120;
        transform: translate(-50%, -200vh);
        background-image: linear-gradient(to right, #360033, #0b8793);
    }
}